/* Figma Styles of your File */:root {
  /* Colors */
  --footer-top-border: #ccd2d3;

  /* Fonts */
  --title-font-family: Oswald-Bold, sans-serif;
  --title-font-size: 48px;
  --title-line-height: normal;
  --title-font-weight: 700;
  --title-font-style: normal;
  --subtitle-font-family: Oswald-Regular, sans-serif;
  --subtitle-font-size: 36px;
  --subtitle-line-height: normal;
  --subtitle-font-weight: 400;
  --subtitle-font-style: normal;
  --header-font-family: Oswald-Bold, sans-serif;
  --header-font-size: 28px;
  --header-line-height: normal;
  --header-font-weight: 700;
  --header-font-style: normal;
  --subheader-font-family: Oswald-Regular, sans-serif;
  --subheader-font-size: 24px;
  --subheader-line-height: normal;
  --subheader-font-weight: 400;
  --subheader-font-style: normal;
  --body-font-family: NotoSans-Regular, sans-serif;
  --body-font-size: 16px;
  --body-line-height: normal;
  --body-font-weight: 400;
  --body-font-style: normal;
  --field-label-font-family: NotoSans-Bold, sans-serif;
  --field-label-font-size: 14px;
  --field-label-line-height: normal;
  --field-label-font-weight: 700;
  --field-label-font-style: normal;
  --footer-header-font-family: NotoSans-Regular, sans-serif;
  --footer-header-font-size: 24px;
  --footer-header-line-height: normal;
  --footer-header-font-weight: 400;
  --footer-header-font-style: normal;
  --button-label-font-family: NotoSans-Regular, sans-serif;
  --button-label-font-size: 16px;
  --button-label-line-height: normal;
  --button-label-font-weight: 400;
  --button-label-font-style: normal;
  --button-link-default-font-family: NotoSans-Regular, sans-serif;
  --button-link-default-font-size: 16px;
  --button-link-default-line-height: normal;
  --button-link-default-font-weight: 400;
  --button-link-default-font-style: normal;
  --button-link-hover-font-family: NotoSans-Bold, sans-serif;
  --button-link-hover-font-size: 16px;
  --button-link-hover-line-height: normal;
  --button-link-hover-font-weight: 700;
  --button-link-hover-font-style: normal;
  --link-nav-default-font-family: NotoSans-Regular, sans-serif;
  --link-nav-default-font-size: 16px;
  --link-nav-default-line-height: 16px;
  --link-nav-default-font-weight: 400;
  --link-nav-default-font-style: normal;
  --link-nav-hover-font-family: NotoSans-Bold, sans-serif;
  --link-nav-hover-font-size: 16px;
  --link-nav-hover-line-height: 16px;
  --link-nav-hover-font-weight: 700;
  --link-nav-hover-font-style: normal;
  --link-text-default-font-family: NotoSans-Regular, sans-serif;
  --link-text-default-font-size: 16px;
  --link-text-default-line-height: normal;
  --link-text-default-font-weight: 400;
  --link-text-default-font-style: normal;
  --link-text-hover-font-family: NotoSans-Bold, sans-serif;
  --link-text-hover-font-size: 16px;
  --link-text-hover-line-height: normal;
  --link-text-hover-font-weight: 700;
  --link-text-hover-font-style: normal;
  --link-text-visited-font-family: NotoSans-Italic, sans-serif;
  --link-text-visited-font-size: 16px;
  --link-text-visited-line-height: normal;
  --link-text-visited-font-weight: 400;
  --link-text-visited-font-style: italic;
  --style-guide-style-guide-header-text-font-family: Oswald-Bold, sans-serif;
  --style-guide-style-guide-header-text-font-size: 36px;
  --style-guide-style-guide-header-text-line-height: normal;
  --style-guide-style-guide-header-text-font-weight: 700;
  --style-guide-style-guide-header-text-font-style: normal;
  --style-guide-style-guide-label-text-font-family: NotoSans-Regular, sans-serif;
  --style-guide-style-guide-label-text-font-size: 24px;
  --style-guide-style-guide-label-text-line-height: normal;
  --style-guide-style-guide-label-text-font-weight: 400;
  --style-guide-style-guide-label-text-font-style: normal;
  --style-guide-style-guide-body-text-font-family: NotoSans-Light, sans-serif;
  --style-guide-style-guide-body-text-font-size: 24px;
  --style-guide-style-guide-body-text-line-height: normal;
  --style-guide-style-guide-body-text-font-weight: 300;
  --style-guide-style-guide-body-text-font-style: normal;

  /* Effects */
  --button-focus-box-shadow:  1px 2px 0px 4px rgba(148, 103, 95, 1.00);
}

